In [2]:
import pandas as pd

In [59]:
df = pd.read_excel('data-28509-2018-10-13.xlsx')

In [60]:
df.head()

,global_id,ID,Name,IsNetObject,OperatingCompany,TypeService,TypeObject,AdmArea,District,Address,PublicPhone,WorkingHours,ClarificationOfWorkingHours,geoData
0,637390942,69305,Шок-цена,нет,NaN,реализация непродовольственных товаров,Магазин «Промтовары»,Северный административный округ,район Беговой,"город Москва, Беговая аллея, дом 3А",(926) 375-00-25,День недели: понедельник\nЧасы работы: 09:00-2...,NaN,"{type=Point, coordinates=[37.564782, 55.783360..."
1,637391048,69319,Adidas,да,Adidas,реализация непродовольственных товаров,Магазин «Одежда»,Центральный административный округ,Тверской район,"город Москва, Новослободская улица, дом 4",(495) 981-65-55,День недели: понедельник\nЧасы работы: 10:00-2...,NaN,"{type=Point, coordinates=[37.60172128296934, 5..."
2,637391109,69320,Айковер Про,нет,NaN,реализация непродовольственных товаров,Магазин-салон,Центральный административный округ,Тверской район,"город Москва, Новослободская улица, дом 50/1, ...",(499) 250-12-40,День недели: понедельник\nЧасы работы: 10:00-2...,NaN,"{type=Point, coordinates=[37.59484948239575, 5..."
3,637391207,69321,Jimmy Choo,нет,NaN,реализация непродовольственных товаров,Магазин «Обувь»,Центральный административный округ,Тверской район,"город Москва, Столешников переулок, дом 11",(495) 225-37-78,День недели: понедельник\nЧасы работы: 11:00-2...,NaN,"{type=Point, coordinates=[37.61581194810149, 5..."
4,637391302,69326,Магазин «Продукты»,нет,NaN,реализация продовольственных товаров,Магазин «Продукты»,Южный административный округ,Даниловский район,"город Москва, 4-й Рощинский проезд, дом 7/17",(926) 149-10-60,День недели: понедельник\nЧасы работы: 08:00-2...,NaN,"{type=Point, coordinates=[37.611425643022635, ..."

In [61]:
len(df)

56503

In [69]:
df_dixy = pd.DataFrame(columns= ['latitude', 'longitude', 'address'])

In [70]:
df_perekrestok = pd.DataFrame(columns= ['latitude', 'longitude', 'address'])

In [71]:

df_magnit = pd.DataFrame(columns= ['latitude', 'longitude', 'address'])

In [72]:
df_billa = pd.DataFrame(columns= ['latitude', 'longitude', 'address'])

In [73]:
for i in range(len(df)):
    s = df.Name[i]
    t = s.lower()
    l = df.geoData[i]
    if t.find('дикси') > -1:
        df_dixy.set_value(len(df_dixy), 'address', df.Address[i])
        df_dixy.longitude[len(df_dixy)-1] = l[l.find('[')+1:l.rfind(',')]
        df_dixy.latitude[len(df_dixy)-1] = l[l.rfind(',')+2:l.find(']')]
        print(df_dixy.longitude[len(df_dixy)-1])
    if t.find('билла') > -1:
        df_billa.set_value(len(df_billa), 'address', df.Address[i])
        df_billa.longitude[len(df_billa)-1] = l[l.find('[')+1:l.rfind(',')]
        df_billa.latitude[len(df_billa)-1] = l[l.rfind(',')+2:l.find(']')]
        
    if t.find('перекресток') > -1:
        df_perekrestok.set_value(len(df_perekrestok), 'address', df.Address[i])
        df_perekrestok.longitude[len(df_perekrestok)-1] = l[l.find('[')+1:l.rfind(',')]
        df_perekrestok.latitude[len(df_perekrestok)-1] = l[l.rfind(',')+2:l.find(']')]
        
    if t.find('магнит') > -1:
        df_magnit.set_value(len(df_magnit), 'address', df.Address[i])
        df_magnit.longitude[len(df_magnit)-1] = l[l.find('[')+1:l.rfind(',')]
        df_magnit.latitude[len(df_magnit)-1] = l[l.rfind(',')+2:l.find(']')]

C:\Users\Artyom\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\Artyom\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  app.launch_new_instance()
C:\Users\Artyom\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\Artyom\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # This is added back by InteractiveShellApp.init_path()

37.69430451157518
37.55408430517004
37.56020686982772
37.80636964275551
37.66777863064191
37.505382
37.298033
37.56103172025732
37.55192022663223
37.708922
37.57305072459059
37.489406
37.71847407180792
37.4542112957622
37.66271533246102
37.66240762339839
37.55159781474749
37.65850977260128
37.684911508653165
37.4675398315756
37.64045553616269
37.675004
37.67661
37.80833130875743
37.567280253830695
37.7083055779305
37.57710892458667
37.49438272217944
37.73626172286675
37.5378974901298
37.58819512882277
37.6274016963578
37.61880546479159
37.618923584832345
37.66813232747894
37.81995151285954
37.42536369550674
37.776842
37.78338802632985
37.784143
37.784736927347346
37.78670743715204
37.787656
37.55973897738741
37.55669571430672
37.46373430258494
37.65396239976448
37.423626
37.51616937502957
37.708419552438706
37.6689609514277
37.418733109653694
37.58126202964123
37.571814139868266
37.56993433431574
37.56903591450184
37.54105854443895
37.56291434477198
37.61037582836007
37.5660284982732
37.66565617325088
37.40017154972752
37.384123882441116
37.769117445085115
37.7959389999999
37.40329011653049
37.66659925426877
37.71845898206944
37.65609762539576
37.67166183389068
37.65445090931998
37.794019
37.47780661682633
37.62938646679446
37.723278965126624
37.63321439627592
37.5784552277371
37.610237920310624
37.76107395119203
37.5244349999999
37.62794321345616
37.540296153366405
37.601683
37.5977669999999
37.65945136122745
37.7065655218187
37.660232379559574
37.567806681190575
37.577962296280205
37.820248268707
37.8378373301291
37.77175306413188
37.63539345400468
37.50714969113198
37.577384409042956
37.5473133792218
37.53945941907683
37.20066582682954
37.57284538254502
37.51101294055075
37.730627170300686
37.738286953701085
37.8050077524027
37.802144
37.579213583824625
37.66181973160925
37.62787605582888
37.517104551898726
37.636775906198935
37.638961928422376
37.652360510714
37.52797800740444
37.52640347886878
37.494845
37.831494
37.8330894240644
37.61866540106522
37.59595689232386
37.47722187564193
37.47973451055642
37.47224204084968
37.71099226993827
37.79184579710895
37.63178462973685
37.52201
37.50940497138586
37.442587111948846
37.682131017062275
37.4946935818468
37.585077
37.5198
37.75870016398103
37.3957807610502
37.764020706275
37.206388154138104
37.788676454565014
37.811083168536854
37.78827220201492
37.775725534514855
37.792999
37.5020364807392
37.566819
37.61146748526449
37.70671037700587
37.448929002915214
37.425168800203195
37.3818624
37.6375415550297
37.723742388351
37.529874450360936
37.5266738228647
37.512191
37.77012972885967
37.49030716622042
37.42753860770295
37.426839947284115
37.4899288641046
37.48011639701478
37.60794621464408
37.415246292562
37.59999884183235
37.5366744028155
37.61946034838672
37.50714294773237
37.61509952451459
37.455755367452
37.64195411854207
37.61187794826055
37.66059934210076
37.82030714427843
37.83620006586756
37.4677368971711
37.67584064124704
37.74702352536249
37.60789995050084
37.60808279612311
37.540303
37.53853303073667
37.53617776023772
37.67153962359116
37.666585
37.666585
37.6835540954755
37.68624670177636
37.52859281751826
37.62472003426287
37.6819449999999
37.810836
37.747609
37.77631044152056
37.677699221672924
37.67089231250216
37.2525
37.42068361035462
37.51168877290368
37.54755536777509
37.519199
37.797376213897394
37.58288171684479
37.449917021505925
37.72326702599288
37.72821231468057
37.7387091146542
37.82513276525988
37.58869508004811
37.795142
37.813702
37.60766055981461
37.521236
37.5432083623448
37.533916897333334
37.77029
37.62971003942831
37.73032410423451
37.7052589999999
37.7153009999999
37.75864455857111
37.77807809659921
37.753535106794516
37.534793
37.190385
37.84738051187693
37.35544895743473
37.5717869679086
37.35413786367408
37.85735372353442
37.85867045521934
37.659990004089906
37.653639695393124
37.79718590631654
37.86142773182796
37.7083055779305
37.76518101319842
37.5577672945092
37.57630856043598
37.59900081868976
37.63115030798317
37.55192022663223
37.468518892371
37.351047396796105
37.167656
37.62578515975898
37.58904562628041
37.7192470060404
37.680356
37.57152284711453
37.727975
37.804842096922066
37.50076452080581
37.54222874536672
37.48300229567993
37.51515239298479
37.4856932239121
37.500746
37.4198047596206
37.39287399617552
37.370329
37.49380859355836
37.636033
37.38815798307465
37.63991241612508
37.693982928796956
37.309354
37.180551
37.330291
37.330291
37.252569
37.5702842725366
37.296514
37.29335782880891
37.573755962587725
37.528621
37.2590628936378
37.25985557473483
37.27125849765763
36.867198
37.445482
37.343963
37.217157
37.490057
37.127299
37.477327
37.473986
37.58310706799412
37.5479040346993
37.62860168984616
37.82691948978825
37.59772217063052
37.59599442321186
37.6305453333856
37.273937
37.64561279974802
37.669656501612586
37.216067
37.61824160814285
37.59194661468403
37.5441094862057
37.478614111293
37.531706167735905
37.50089369560001
37.589172999
37.5886180625982
37.60772655669278
37.531156999
37.55849294085089
37.79757995300371
37.46
37.52490406738289
37.60255801725892
37.57775877826896
37.59315782874715
37.6942461424769
37.78393672901797
37.79347338846123
37.777153
37.81399510114641
37.48483987207424
37.386741150597125
37.42676919686196
37.64482525911135
37.588259
37.68198990313432
37.717336
37.81468447557233
37.82439347862207
37.83100212078949
37.82880294340943
37.83026714550554
37.8259696100969
37.82724682103828
37.75706140732775
37.71431759505355
37.67328858375549
37.716311927851955
37.71661422008538
37.6614853805906
37.661971
37.64816390520456
37.76916155355143
37.72494148949985
37.66058911645381
37.681581264172586
37.66031346617622
37.641672167055006
37.63094441319993
37.43418483603214
37.45666108440326
37.40492478292499
37.48623033896475
37.79220352893099
37.82791850785866
37.78056447647423
37.82068228733718
37.729915354725236
37.71930306777007
37.795663
37.71562194541459
37.67356806030399
37.6721543784312
37.6747545229019
37.68203528289729
37.6746
37.46663888378344
37.63553418101626
37.615516122898825
37.672864535793636
37.6298758016657
37.598938912070366
37.591626855940135
37.72468501921952
37.81790947879995
37.80423386438655
37.735018
37.790878
37.898552081274566
37.89791
37.82149
37.769406139971785
37.7083055779305
37.927177
37.498930205563774
37.58084526543569
37.5207528101038
37.56438407424482
37.139433
37.406971
37.35353134462536
37.34660034584698
37.49885580707297
37.5332
37.495177
37.57204999303339
37.548914494439536
37.166463
37.5911339746545
37.627771698956195
37.59972639743327
37.696804
37.62064055386637
36.93037058236687
37.68761787812208
37.69390366621463
37.74091196018452
37.365038
37.3501864092913
37.64559339865569
37.679969
37.685263
37.68313733126997
37.153862
37.317167
37.390101
37.6522596813171
36.862755
37.09407
37.47551
37.470833
37.074092
37.190154
37.468192
37.2935080341687
37.485637
37.482214
37.25953974042841
37.154895
37.41025
37.164399
37.187693
37.539446
37.516512
37.504133
37.25584833715221
37.443102
37.405839
37.448851
36.938922
37.325593
37.186965
37.564095932095825
37.220194
37.492293
37.29094238724888
37.15556
37.101095
37.481907
37.298022829623086
37.615426911038384
37.929642
37.927487
37.76622286843849
37.585593005679
37.865895178797224
37.8610947073799
37.77085707636374
37.48828679947761
37.51125796916125
37.601978
37.63163798843217
37.53005856727985
37.854374578023815
37.70671037700587
37.57198311177494
37.45632783886013
37.51812440817941

In [74]:
df_dixy.head()

,latitude,longitude,address
0,55.639845758584016,37.69430451157518,"город Москва, Каширское шоссе, дом 53, корпус 6"
1,55.55095139066108,37.55408430517004,"город Москва, Скобелевская улица, дом 4"
2,55.72804323484867,37.56020686982772,"город Москва, Новодевичий проезд, дом 2"
3,55.79960717631598,37.80636964275551,"город Москва, Верхняя Первомайская улица, дом 61"
4,55.73496809823888,37.66777863064191,"город Москва, Марксистская улица, дом 9"

In [75]:
df_perekrestok.head()

,latitude,longitude,address
0,55.756652439345714,37.63271936441587,"город Москва, Лубянский проезд, дом 15, строен..."
1,55.769935,37.596875,"город Москва, 1-я Тверская-Ямская улица, дом 2..."
2,55.889912462423325,37.38843208568675,"город Москва, Воротынская улица, дом 18"
3,55.77489062688191,37.58290642421878,"город Москва, улица Грузинский Вал, дом 28/45"
4,55.65884484480104,37.402044190541496,"город Москва, Боровское шоссе, дом 6"

In [76]:
df_magnit.head()

,latitude,longitude,address
0,55.59990371830112,37.54088940671097,"город Москва, улица Паустовского, дом 5, корпус 1"
1,55.812212082582754,37.568022248883096,"город Москва, Тимирязевская улица, дом 10/12"
2,55.54309101875911,37.5727038817007,"город Москва, Синельниковская улица, дом 45А"
3,55.89449498937614,37.61305527950431,"город Москва, улица Лескова, дом 26А"
4,55.858458648765314,37.51146613016895,"город Москва, Онежская улица, дом 34, корпус 1"

In [77]:
df_billa.head()

,latitude,longitude,address
0,55.822281,37.623241,"город Москва, улица Академика Королёва, дом 8А"
1,55.880303,37.708572,"город Москва, Анадырский проезд, дом 63А"
2,55.984058,37.17605,"город Москва, город Зеленоград, корпус 1006А"
3,55.824332,37.527847,"город Москва, Большая Академическая улица, дом 17"
4,55.81277814123381,37.79745309970773,"город Москва, Уральская улица, дом 3"

In [79]:
print(len(df_billa), len(df_dixy), len(df_magnit), len(df_perekrestok))

95 464 480 322

In [80]:
df_billa.to_csv('billa.csv')

In [81]:
df_magnit.to_csv('magnit.csv')

In [82]:
df_dixy.to_csv('dixy.csv')

In [83]:
df_perekrestok.to_csv('perekrestok.csv')

In [92]:
df = pd.read_csv('perekrestok.csv')

In [93]:
df.head()

,Unnamed: 0,latitude,longitude,address
0,0,55.756652,37.632719,"город Москва, Лубянский проезд, дом 15, строен..."
1,1,55.769935,37.596875,"город Москва, 1-я Тверская-Ямская улица, дом 2..."
2,2,55.889912,37.388432,"город Москва, Воротынская улица, дом 18"
3,3,55.774891,37.582906,"город Москва, улица Грузинский Вал, дом 28/45"
4,4,55.658845,37.402044,"город Москва, Боровское шоссе, дом 6"